<h1>Challenges (access Camera)</h1>

<h3>**Please Note: current version of doesn't support iphone**</h3>

{% if filter %}
    <a class="button left" href='/challenges'>Back to index</a>
{% endif %}

{% for key, section in sections %}
    <h3 class='challenge-section'><a href='/challenges/{{ key }}'>{{ key }}</a></h3>
    <ul class='challenges-list plain clr'>
        {% for challenge in section.challenges %}
        <li>
            <a class="progress-{{ challenge.progress }}" href="{{ challenge.uri }}">
                <span class="right">{{ challenge.reward|number_format }} pts</span>
                <span class="challenge-title">{{ challenge.title }}</span>
                <span class="dark small">{{ challenge.total_completed|number_format }} succeeded</span>
            </a>
        </li>
        {% endfor %}
    </ul>
{% endfor %}